.padded{
  padding:24px
}

#site-main{
  margin-top: 6em;
}

table{
  border-spacing: 0px;
  width: 100%;
}

.table td .table tr{
  padding: .75em;
  vertical-align: top;
  text-align: center;
  border-top: 1px solid var(--border);
}

.table .thead-dark td{
  color:#000000;
  background-color: var(--dark);
  border-color: #000000;
}